<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Imports -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		{% if title %}
		<title>{{ title }} - Netflix API</title>
		{% else %}
		<title>Netflix API</title>
		{% endif %}
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Netflix API - Documentation</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>

		<!-- Main Content -->
		<div class="container-fluid">

			<!-- Configuration -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Configuration</h5>
							<p><span style='font-weight: 675;'>GET /api/configuration/countries</span> Return JSON with list of countries. <a href="https://flask-netflix-api.herokuapp.com/api/configuration/countries" class="card-link">https://flask-netflix-api.herokuapp.com/api/configuration/countries</a></p>
							<p><span style='font-weight: 675;'>GET /api/configuration/languages</span> Return JSON with list of languages. <a href="https://flask-netflix-api.herokuapp.com/api/configuration/languages" class="card-link">https://flask-netflix-api.herokuapp.com/api/configuration/languages</a></p>
							<p><span style='font-weight: 675;'>GET /api/configuration/timezones</span> Return JSON with list of timezones. <a href="https://flask-netflix-api.herokuapp.com/api/configuration/timezones" class="card-link">https://flask-netflix-api.herokuapp.com/api/configuration/timezones</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- Credit -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Credit</h5>
                            <p><span style='font-weight: 675;'>GET /api/type_media/media_id/credits</span> Return JSON with credit ID. <a href="https://flask-netflix-api.herokuapp.com/api/movie/17302/credits" class="card-link">https://flask-netflix-api.herokuapp.com/api/movie/17302/credits</a></p>
                            <p><span style='font-weight: 675;'>GET /api/credit?credit_id=credit_id</span> Return JSON with credit details. <a href="https://flask-netflix-api.herokuapp.com/api/credit?credit_id=52fe47169251416c7508d5c7" class="card-link">https://flask-netflix-api.herokuapp.com/api/credit?credit_id=52fe47169251416c7508d5c7</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- Discover -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Discover</h5>
                            <p><span style='font-weight: 675;'>GET /api/discover/type_media</span> Return JSON movie or tv show to discover. <a href="https://flask-netflix-api.herokuapp.com/api/discover/movie?language=en-US&year=2001&with_genres=28&sort_by=popularity.asc" class="card-link">https://flask-netflix-api.herokuapp.com/api/discover/movie?language=en-US&year=2001&with_genres=28&sort_by=popularity.asc</a></p>
                            <p>optional : accepted_sort = ['popularity.asc', 'popularity.desc', 'release_date.asc', 'release_date.desc',  'original_title.asc', 'original_title.desc', 'vote_average.asc', 'vote_average.desc']</p>
                            <p>optional : year</p>
                            <p>optional : language</p>
                            <p>optional : with_genres</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Find -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Find</h5>
                            <p><span style='font-weight: 675;'>GET /api/search/type_media?query=Alice</span> Return JSON list of TV shows / movies ID. <a href="https://flask-netflix-api.herokuapp.com/api/search/movie?query=Alice" class="card-link">https://flask-netflix-api.herokuapp.com/api/search/movie?query=Alice</a></p>
                            <p><span style='font-weight: 675;'>GET /api/search/type_media/media_id</span> Return JSON with TV show / movie details. <a href="https://flask-netflix-api.herokuapp.com/api/search/movie/17302" class="card-link">https://flask-netflix-api.herokuapp.com/api/search/movie/17302</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- Genre -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Genre</h5>
                            <p><span style='font-weight: 675;'>GET /api/genre/type_media/list</span> Return JSON with list of genres for TV Shows / movies. <a href="https://flask-netflix-api.herokuapp.com/api/genre/movie/list" class="card-link">https://flask-netflix-api.herokuapp.com/api/genre/movie/list</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- Media -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Media</h5>
                            <p><span style='font-weight: 675;'>GET /api/type_media/media_id/external_ids</span> Return JSON with external IDs & social. <a href="https://flask-netflix-api.herokuapp.com/api/movie/17302/external_ids" class="card-link">https://flask-netflix-api.herokuapp.com/api/movie/17302/external_ids</a></p>
						</div>
					</div>
				</div>
			</div>

			<!-- Trending -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Trending</h5>
                            <p><span style='font-weight: 675;'>GET /api/trending/type/time_window</span> Return JSON with list of trending TV Shows / movies. <a href="https://flask-netflix-api.herokuapp.com/api/trending/movie/week" class="card-link">https://flask-netflix-api.herokuapp.com/api/trending/movie/week</a></p>
                            <p>type: all, movie, tv</p>
                            <p>time_window: day, week</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Account -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Account</h5>
                            <p><span style='font-weight: 675;'>POST /api/login</span> Return JSON with JWT if login successfully. <a href="https://flask-netflix-api.herokuapp.com/api/login" class="card-link">https://flask-netflix-api.herokuapp.com/api/login</a></p>
							<p style="font-style: italic;">{"email": "email", "password": "password"}</p> 
                            <p><span style='font-weight: 675;'>POST /api/register</span> Create account table with default profile and default list <a href="https://flask-netflix-api.herokuapp.com/api/register" class="card-link">https://flask-netflix-api.herokuapp.com/api/register</a></p>
							<p style="font-style: italic;">{"email": "email", "password": "password", "first_name": "first_name", "last_name": "last_name"}</p> 
                            <p><span style='font-weight: 675;'>GET /api/account</span> Return JSON with account information <a href="https://flask-netflix-api.herokuapp.com/api/account" class="card-link">https://flask-netflix-api.herokuapp.com/api/account</a></p>
                            <p><span style='font-weight: 675;'>PUT /api/account</span> Update one of the value of all values at once, return updated JSON is successfully <a href="https://flask-netflix-api.herokuapp.com/api/account" class="card-link">https://flask-netflix-api.herokuapp.com/api/account</a></p>
							<p style="font-style: italic;">{"password": "password", "first_name": "first_name", "last_name": "last_name"}</p> 
                            <p><span style='font-weight: 675;'>DELETE /api/account</span> Return true if account deleted properly <a href="https://flask-netflix-api.herokuapp.com/api/account" class="card-link">https://flask-netflix-api.herokuapp.com/api/account</a></p>
							
						</div>
					</div>
				</div>
			</div>

			<!-- User -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">User</h5>
                            <p><span style='font-weight: 675;'>GET /api/users</span> Return JSON with all users profile for that account. <a href="https://flask-netflix-api.herokuapp.com/api/users" class="card-link">https://flask-netflix-api.herokuapp.com/api/users</a></p>
                            <p><span style='font-weight: 675;'>POST /api/user</span> Create new user profile for account and default list <a href="https://flask-netflix-api.herokuapp.com/api/user" class="card-link">https://flask-netflix-api.herokuapp.com/api/user</a></p>
							<p style="font-style: italic;">{"profile": "profile", "account_id": "account_id"}</p> 
                            <p><span style='font-weight: 675;'>GET /api/user/user_id</span> Return JSON with user profile information <a href="https://flask-netflix-api.herokuapp.com/api/user/1" class="card-link">https://flask-netflix-api.herokuapp.com/api/user/1</a></p>
                            <p><span style='font-weight: 675;'>PUT /api/user/user_id</span> Update one of the profile name from user, return updated JSON is successfully <a href="https://flask-netflix-api.herokuapp.com/api/user/1" class="card-link">https://flask-netflix-api.herokuapp.com/api/user/1</a></p>
							<p style="font-style: italic;">{"profile": "profile"}</p> 
                            <p><span style='font-weight: 675;'>DELETE /api/user/user_id</span> Return true if user profile deleted properly <a href="https://flask-netflix-api.herokuapp.com/api/user/1" class="card-link">https://flask-netflix-api.herokuapp.com/api/user/1</a></p>
							
						</div>
					</div>
				</div>
			</div>

			<!-- List -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">List</h5>
                            <p><span style='font-weight: 675;'>GET /api/lists/user_id</span> Return JSON with all lists for users profile. <a href="https://flask-netflix-api.herokuapp.com/api/lists/1" class="card-link">https://flask-netflix-api.herokuapp.com/api/lists/1</a></p>
                            <p><span style='font-weight: 675;'>POST /api/list</span> Create new list for the user profile <a href="https://flask-netflix-api.herokuapp.com/api/list" class="card-link">https://flask-netflix-api.herokuapp.com/api/list</a></p>
							<p style="font-style: italic;">{"list_title": "list_title", "user_id": "user_id"}</p> 
                            <p><span style='font-weight: 675;'>GET /api/list/list_id</span> Return JSON with list information <a href="https://flask-netflix-api.herokuapp.com/api/list/1" class="card-link">https://flask-netflix-api.herokuapp.com/api/user/1</a></p>
                            <p><span style='font-weight: 675;'>PUT /api/list/list_id</span> Update list_title from list, return updated JSON is successfully <a href="https://flask-netflix-api.herokuapp.com/api/list/1" class="card-link">https://flask-netflix-api.herokuapp.com/api/list/1</a></p>
							<p style="font-style: italic;">{"list_title": "list_title"}</p> 
                            <p><span style='font-weight: 675;'>DELETE /api/list/list_id</span> Return true if list deleted properly <a href="https://flask-netflix-api.herokuapp.com/api/list/1" class="card-link">https://flask-netflix-api.herokuapp.com/api/list/1</a></p>
							
						</div>
					</div>
				</div>
			</div>

			<!-- Movie -->
			<div class="row mt-4 justify-content-left">
				<div class="col mx-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Movie</h5>
                            <p><span style='font-weight: 675;'>GET /api/movies/list_id</span> Return JSON with all movies for list. <a href="https://flask-netflix-api.herokuapp.com/api/lists/1" class="card-link">https://flask-netflix-api.herokuapp.com/api/lists/1</a></p>
                            <p><span style='font-weight: 675;'>POST /api/movie</span> Create new movie for the list <a href="https://flask-netflix-api.herokuapp.com/api/movie" class="card-link">https://flask-netflix-api.herokuapp.com/api/movie</a></p>
							<p style="font-style: italic;">{"tmdb_id": "tmdb_id", "list_id": "list_id"}</p> 
                            <p><span style='font-weight: 675;'>GET /api/movie/movie_id</span> Return JSON with movie information <a href="https://flask-netflix-api.herokuapp.com/api/movie/1" class="card-link">https://flask-netflix-api.herokuapp.com/api/movie/1</a></p>
                            <p><span style='font-weight: 675;'>DELETE /api/movie/movie_id</span> Return true if movie deleted properly <a href="https://flask-netflix-api.herokuapp.com/api/movie/1" class="card-link">https://flask-netflix-api.herokuapp.com/api/movie/1</a></p>
							
						</div>
					</div>
				</div>
			</div>


		<!-- Bootstrap core JavaScript -->
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
	</body>
</html>
